.navprimary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-block: 20px;

    font: var(--h2);
}

.navprimary .lefticon {
    display: flex;
    align-items: center;
}

.navprimary #logo {
    width: 160px;
    height: 32px;
}