.noticiadestaque {
    width: 608px;
    height: 416px;

    position: relative;

    border-radius: 4px;
    overflow: hidden;
}

.noticiadestaque img {
    width: 100%;

    object-fit: contain;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 40%; /* altura da sombra */
    background: linear-gradient(to top,#020617, transparent);
}

.infocarddestaque {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding-inline: 24px;
    padding-block-end: 24px;
}

.infocarddestaque span {
    font: var(--span);
    color: var(--text-color-primary);

    padding-block: 4px;
    padding-inline: 8px;

    background-color: var(--brancd-color-dark);

    border-radius: 4px;
}

.infocarddestaque p {
    color: var(--text-color-primary);
    font: var(--h1);

    margin-block-start: 8px;
}